<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head-->
    <%- include(__base + 'views/partials/head.ejs') %>
</head>
<body>
    <!-- Preloader -->
    <%- include(__base + 'views/partials/components/preloader.ejs') %>

    <!-- Navbar Section -->
    <%- include(__base + 'views/partials/components/nav.ejs') %>

    <!-- Landing Section -->
    <%- include(__base + 'views/partials/components/landing.ejs') %>

    <!-- Features Section -->
    <%- include(__base + 'views/partials/components/features.ejs') %>

    <!-- Services Section -->
    <%- include(__base + 'views/partials/components/services.ejs') %>

    <!-- About Section -->
    <%- include(__base + 'views/partials/components/about.ejs') %>

    <!-- Choose Section -->
    <%- include(__base + 'views/partials/components/choose.ejs') %>

    <!-- Counter Section -->
    <%- include(__base + 'views/partials/components/counter.ejs') %>

    <!-- Testimonials Section -->
    <%- include(__base + 'views/partials/components/testimonials.ejs') %>

    <!-- Contact Section -->
    <%- include(__base + 'views/partials/components/contact.ejs') %>

    <!-- Footer Section -->
    <%- include(__base + 'views/partials/components/footer.ejs') %>

    <!-- Start Back to Top -->
	<div class="back-to-top">
		<i class="fa fa-caret-up"></i><i class="fa fa-caret-up"></i>
	</div>
	<!-- End Back to Top -->

    <!-- Scripting -->
    <%- include(__base + 'views/partials/js-include.ejs') %>
</body>
</html>